ezdxf==1.4.2
fonttools==4.58.0
iniconfig==2.1.0
networkx==3.4.2
numpy==2.2.6
packaging==25.0
pluggy==1.6.0
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pytest==8.3.5
typing_extensions==4.13.2
ezdxf==1.4.2
fonttools==4.58.0
ifcopenshell==0.8.2
iniconfig==2.1.0
isodate==0.7.2
lark==1.2.2
networkx==3.4.2
numpy==2.2.6
packaging==25.0
pluggy==1.6.0
pyglet==1.5.31
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pytest==8.3.5
python-dateutil==2.9.0.post0
shapely==2.1.1
six==1.17.0
trimesh==4.7.0
typing_extensions==4.13.2
